{% extends 'polls/base.html' %}

{% load staticfiles %}

{% block title %}Polls{% endblock %}

{% block content %}
<div class="container">

  <h1>{{ poll.title }}</h1>
  <p>{{ poll.description }}</p>

  <p>
    {% if questions %}
    <ul class="list-group">
      {% for question in questions %}
      <li class="list-group-item">
        <a href="{% url 'polls:question' question.id %}">
          {{ question.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <strong>
      No questions available.
      <a href="{% url 'polls:add_question' poll.id %}">Create one</a>
    </strong>
    {% endif %}
  </p>
    
  </div><!--container-->
{% endblock %}
