{% extends 'polls/base.html' %}

{% load staticfiles %}

{% block title %}Poll{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Poll "{{ poll.title }}"</h1>
    </div>

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>{{ poll.question }}</h3>
                </div>
            </div>

            {% if choices %}
                <form action="{% url 'polls:vote' poll.id %}" method="post">
                    {% csrf_token %}
                    <ul class="list-group">
                        {% for choice in choices %}
                            <li class="list-group-item">
                                <button class="btn btn-primary btn-block"
                                        type="submit" value="{{ choice.id }}"
                                        name="choice" id="answer{{forloop.counter}}">
                                    {{ choice.number }}. {{ choice.text }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            {% else %}
                <strong>No choices available</strong>
            {% endif %}
            
        </div>
    </div>
{% endblock %}
