{% extends 'polls/base.html' %}

{% load staticfiles %}

{% block title %}Question{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Question: "{{ question.text }}"</h1>
        <h5>{{message}}</h5>
    </div>

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Answers</h3>
                </div>
            </div>

            {% if answers %}
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                
                <form action="{% url 'polls:vote' question=question.id %}" method="post">
                    {% csrf_token %}

                    {% for answer in answers %}
                        <button class="btn btn-primary" type="submit"
                            value="{{ answer.id }}" name="choice" id="answer{{ forloop.counter }}">
                            {{ answer.text }}
                         </button>
                    {% endfor %}
                </form>
            {% else %}
                <strong>No questions available</strong>
            {% endif %}

        </div>
    </div>
{% endblock %}
