{% extends 'polls/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block content %}

<div class="about section">
<div class="container"  data-0="opacity: 1;" data-500="opacity: 0.5;">
<h1>About Pepe</h1>
<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
  <div class="row">
    <div class="col-sm-3 text-center">
      <i class="fa fa-4x fa-comment"></i><br><br>
      <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="col-sm-3 text-center">
      <i class="fa fa-4x fa-user"></i><br><br>
      <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="col-sm-3 text-center">
      <i class="fa fa-4x fa-cogs"></i><br><br>
      <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="col-sm-3 text-center">
      <i class="fa fa-4x fa-pie-chart"></i><br><br>
      <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>

</p>
</div>
</div>

<div class="team section">
  <div class="container">
<h1>Team</h1>
<div class="row">
  <div class="col-sm-4">
    <img src="{% static "img/m.jpg" %}" alt="Markus" class="img-responsive"  data-50="margin-left: -100px; opacity: 0;" data-350="margin-left: 0px; opacity: 1;"><br>
  </div>
  <div class="col-sm-4">
    <img src="{% static "img/t.jpg" %}" alt="Thomas" class="img-responsive" data-50="margin-top: 100px; opacity: 0;" data-350="margin-top: 0px; opacity: 1;"><br>
  </div>
  <div class="col-sm-4">
    <img src="{% static "img/f.jpg" %}" alt="Filip" class="img-responsive" data-50="margin-left: 100px; opacity: 0;" data-350="margin-left: 0px; opacity: 1;"><br>
  </div>
</div>
</div>
</div>

<div class="faq section">
  <div class="container" data-300="opacity: 0;" data-700="opacity: 1;">
<h1>FAQ</h1>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fa fa-question-circle"></i>&nbsp;Question 1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-question-circle"></i>&nbsp;Question 2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-question-circle"></i>&nbsp;Question 3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="contact section">
  <div class="container">
    <div data-900="opacity: 0;" data-1050="opacity: 1;">
<h1>Contact</h1>
<i class="fa fa-envelope"></i>&nbsp;<a href="#">pepe@pepe.pepe</a>
</div>
</div>
</div>
{% endblock %}
