{% extends 'polls/base.html' %} {% load staticfiles %} {% block content %}
<div class="indexheader" data-top="background-position:0px 0px;" data-300="background-position:0px -700px;">
  <div class="container" data-top="opacity: 1;" data-200="opacity: 0">
    <h1>Welcome!</h1>
    <h3>Choose a poll from below or <a href="{% url 'polls:new_poll' %}">create your own</a></h3>
    <a class="btn btn-custom btn-lg" href="{% url 'polls:about' %}">Learn more</a>
  </div>
</div>

<div class="container">
  <h1>Choose a poll</h1>

  {% if polls %}
  <ul class="list-group">
    {% for poll in polls %}
    <li class="list-group-item">
      <a href="{% url 'polls:detail' poll.id %}">{{ poll.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No polls are available, <a href="{% url 'polls:new_poll' %}">create one</a>.</p>
  {% endif %}

</div><!--container-->
{% endblock %}
