{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category.name }} - {{ category.slug }}{% endblock %}
        
{% block body %}
    
    <form role="form" id="page_form" method="POST"
        action="{% url 'rango:add_page' category.slug %}">

        <h2 class="form-signing-heading">
            Add page to "
            <a href="{% url 'rango:category' category.slug %}">
                {{ category.name}}
            </a>"
        </h2>

        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }} <br />
        {% endfor %}

        <input type="submit" name="submit" value="Add Page" />
        <button class="btn btn-primary" type="submit" name="submit">
           Add page
        </button> 
    </form>
{% endblock %}
