 <ul class="nav nav-sidebar">
    {% if cats %}
        {% for cat in cats %}
            {% if cat == act_cat %}
                <li class="active">
            {% else %}
                <li>
            {% endif %} 
                <a href="{% url 'rango:category'  cat.slug %}">
                    {{ cat.name }}
                </a>
                </li>
        {% endfor %}
    {% else %}
        <li>
            <strong >There is no category present.</strong>
        </li>
    {% endif %}
</ul>

