<!DOCTYPE html>

{% load staticfiles %}
{% load crispy_forms_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/graf_zahl.jpeg' %}"
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <title>MathApp - {% block title %}MathApp{% endblock %}</title>
  </head>

  <body id="top">
    {#% include 'ma/nav.html' %#}

    <div id="content">
      {% block main %}{% endblock %}
    </div>

    {#% include 'ma/footer.html' %#}
    
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
